ion-content{
    padding: 0 !important;
    --background:url(../../../assets/imgs/forest1.png) 100% 100%;
    //--background-image: url(../../../assets/imgs/bg.png);
}
.ion-text-center{
    text-align: center;
}

// page-login {
//     ion-content .scroll-content{
//         padding: 0 !important;
//         background-image: url(../../../assets/imgs/bg.png);
//     }
   
//     .checkbox-checked {
//         border-color: #da6700!important;
//         background-color: #da6700!important;
//     }

//     .checkbox-icon {
//         border-color: #da6700!important;
//     }

//     .bg {
//         background-image: url(../../../assets/imgs/bg.png);
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-attachment: fixed;
//         height: 100%;
//     }
//     .vertical-align-content>* {
//         display: flex!important;
//         align-content: center!important;
//         align-items: center!important;
//     }
//     .item.item-trns {
//         border-color: rgba(0, 0, 0, 0);
//         background-color: rgba(0, 0, 0, 0);
//         color: white;
//         border-bottom: none;
//     }
//     .headerIcon {
//         background-image: url(../../../assets/imgs/bg.png);
//         background-repeat: no-repeat;
//     }
//     .list-md .item-block .item-inner {
//         border-bottom: none;
//     }

//     .tabBg{
//         background-image: url(../../../assets/imgs/bg.png);
//         background-size: 100% 100%;
//         background-repeat: no-repeat;
//         background-attachment: fixed;
//         height: 100%;
//     }
//     .tabBg ion-list{
//         margin: 16px 28% !important;
//     }
// }
// #tobg{
//     background: url(../../../assets/imgs/bg.png);
//   background-repeat: no-repeat;
//   background-size: auto;
//   width: 100vw;
//   height: 100vh;
// }